@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100;
    @apply font-sans antialiased;
    @apply select-none;
  }
}

@layer utilities {
  .animate-fadein {
    animation: fadein 0.8s ease-in-out forwards;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
